<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.tercomfuncionario">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="br.com.tercomfuncionario.Application.AppTercom"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ProviderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ProviderAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ServiceAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ProductAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ProviderContactAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ProviderContactUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ProviderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ProductListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ServiceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ProductCategoryAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ManufacturerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ProductDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.com.tercomfuncionario.Boundary.Activity.ProductValueListActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="br.com.tercomfuncionario.Boundary.Activity.ProductValueDetails" />
        <activity android:name="br.com.tercomfuncionario.Boundary.Activity.ServiceDetailsActivity" />
        <activity android:name="br.com.tercomfuncionario.Boundary.Activity.MenuActivity" />
        <activity android:name="br.com.tercomfuncionario.Boundary.Activity.ServicePriceDetailsActivity" />
        <activity android:name="br.com.tercomfuncionario.Boundary.Activity.ServicePriceListAcitivity" />
        <activity android:name="br.com.tercomfuncionario.Boundary.Activity.PermissionsActivity"/>
        <activity android:name="br.com.tercomfuncionario.Boundary.Activity.OrderMainActivity"/>
        <activity android:name="br.com.tercomfuncionario.Boundary.Activity.OpenOrderListActivity"/>
        <activity android:name="br.com.tercomfuncionario.Boundary.Activity.InicializedOrderListActivity"/>
        <activity android:name="br.com.tercomfuncionario.Boundary.Activity.OrderInsertValueActivity"/>
    </application>

</manifest>